.row-fluid
  .span12{style: "text-align: center;"}
    %ul.nav.nav-pills.social
      %li
        = mail_to 'will@teknofire.net', '<i class="icon-envelope"></i>'.html_safe
      %li
        = link_to 'http://twitter.com/teknofire', target: :_blank do
          = fa_icon "twitter"
      / %li
      /   = link_to '#', target: :_blank do
      /     = fa_icon "facebook"
      %li
        = link_to 'http://github.com/teknofire', target: :_blank do
          = fa_icon "github"
.row-fluid
  .span6
    %section#links
      %h3 Links
      %address
        %b Work:
        = link_to 'Geographic Information Network of Alaska', 'http://www.gina.alaska.edu'
  .span6

= render 'layouts/analytics'
