.title
  = render 'layouts/title'

.menu
  %ul.nav.nav-pills
    %li
      = link_to '/#home', data: { scroll: '#home' } do
        = fa_icon 'home'
        Home 
    %li
      = link_to '/#blog', data: { scroll: '#blog' } do
        = fa_icon 'microphone'
        Blog
    = render 'layouts/page_nav'
    
  %ul.nav.nav-pills.hidden
    %li
      = link_to root_url do
        = fa_icon 'fire'
        teknofire.net