%li
  = link_to notes_path do
    = fa_icon 'edit'
    Notes
%li
  = link_to 'http://github.com/teknofire' do
    = fa_icon 'github'
    Code
- if signed_in?
  %li
    = link_to signout_path do
      = fa_icon 'signout'
      Signout
- else
  %li
    = link_to signin_path do
      = fa_icon 'signin'
      Signin