.title
  = render 'layouts/title'

.menu
  %ul.nav.nav-pills.pull-left
    %li
      = link_to '/#home' do
        = fa_icon 'home'
        Home 
    %li
      = link_to '/#blog' do
        = fa_icon 'microphone'
        Blog
    = render 'layouts/page_nav'
    
  %ul.nav.nav-pills.pull-right
    %li
      = link_to root_url do
        = fa_icon "fire"
        teknofire.net