!!!
%html
  %head
    %title TeknofireNet
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin", "/ace/ace.js"
    = csrf_meta_tags
  %body.hide_header
    #home
    .header
      .container
        = render 'layouts/header'
    .page-alert
      = flash_messages        
    .no-splash
    .container
      = yield
    .footer
      .container
        = render 'layouts/footer'
