!!!
%html
  %head
    %title TeknofireNet
    = stylesheet_link_tag    "admin", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = javascript_include_tag "admin", "http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js"
    = csrf_meta_tags
  %body.hide_header
    #home
    .header
      .container
        = render 'layouts/header'
    .page-alert
      = flash_messages        
    .no-splash
    .container
      = yield
    .footer
      .container
        = render 'layouts/footer'