!!!
%html
  %head
    %title TeknofireNet
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: hide_header? ? 'hide_header' : '' }
    #home
    .header
      .container
        = render 'layouts/header'
    .page-alert
      = flash_messages        
    .no-splash
    .container
      = yield
    .footer
      .container
        = render 'layouts/footer'
:javascript
  $(document).ready(function() {
  });
