!!!
%html
  %head
    %title TeknofireNet
    = stylesheet_link_tag    "application", :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #home
    .header
      .container
        = render 'layouts/welcome_header'
    .page-alert
      = flash_messages
    .splash
      .intro
        .container
          = yield :splash
    .container
      = yield
    .footer
      .container
        = render 'layouts/footer'
:javascript
  $(document).ready(function() {
    $(document).on('click', '[data-scroll]', function(evt) {
      evt.preventDefault();
      var target = $(evt.currentTarget).attr('href');
      
      var parent = $('html,body');
      var cur_scroll = parent.scrollTop();
      parent.animate({
        scrollTop: $(target).offset().top
      });
    })
  });